/** Theme - Blues **/
$eq-primary-darkest:    #003B4C; // darkest blue
$eq-primary-darker:     #005C75; // darker blue
$eq-primary-dark:       #00647F; // dark blue
$eq-primary:            #0090BB; // equella blue
$eq-primary-2:          #0098C8; // second main equella blue
$eq-primary-light:      #009ACA; // light blue
$eq-primary-lighter:    #93E9FD; // lighter blue
/** Theme - Oatmeals **/
$eq-secondary-darkest:  #5E5C53;
$eq-secondary-darker:   #949082; // darker oatmeal
$eq-secondary-dark:     #ABA797; // dark oatmeal
$eq-secondary:          #D4CFBB; // oatmeal
$eq-secondary-light:    #E8E3CD; // light oatmeal
$eq-secondary-lighter2: #DAD7CE; // light oatmeal
$eq-secondary-lighter:  #FFF9E1; // lighter oatmeal
/** Theme - Oranges **/
$eq-tertiary-darker:    #CF7D1F;
$eq-tertiary-dark:      #f38c00;
$eq-tertiary:           #F6A03D;
$eq-teriary-light:      #FFB259;

/** Theme - Generics **/
$eq-white:              #fff;
$eq-white-dark:         #f7f7f7;
$eq-white-darker:       #f1f1f1;
$eq-white-darker2:      #f2f2f2;
$eq-black:              #000;
$eq-transparent:         transparent;