
/** override dropdown inline styles */
.richcontainer.richcontainer {
  width: 100% !important;
  left: 0 !important;
}
.richdropdown.richdropdown {
  min-width: 0px !important;
  width: 100% !important;
  left: 0 !important;
}

/** override placement of richcontainer dropdown **/
body.manage-resources {
  .richcontainer {
    left: 18px !important;
  }
}

/** override sort + filter dropdowns **/
body.my-resources,
body.search {
  ul.newList {
    width: 100% !important;
  }
}

/** fix screen options dropdown **/
.settingRow .settingField {
  width: 100% !important;
  .newList {
    width: 100% !important;
  }
}